<!DOCTYPE html>
<html>
<head>
	<title>Project Application Of Big Data</title>
</head>
<body>
	<h1>Form for anime prediction</h1>

	<h2>Please fill the form : </h2>
	<form method="POST">
		<label for="title">Title:</label>
		<input type="text" id="title" name="title"><br>

		<label for="genre">Genre:</label>
		<input type="text" id="genre" name="genre"><br>

		<label for="synopsis">Synopsis:</label>
		<textarea id="synopsis" name="synopsis"></textarea><br>

		<label for="type">Type:</label>
		<input type="text" id="type" name="type"><br>

		<label for="producer">Producer:</label>
		<input type="text" id="producer" name="producer"><br>

		<label for="studio">Studio:</label>
		<input type="text" id="studio" name="studio"><br>

		<input type="submit" value="Submit">
	</form>
</body>
</html>
